.Header {
    justify-content: space-between;
    display: flex;
    margin: 1px;
    align-items: center;
}

.Header .link {
    padding:0;
    margin: 1px;
    border: 2px solid black;

    flex: 1;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;

    font-weight: bold;
    text-decoration: none;
    color:black;

    transition: 0.2s;
}

.Header .link:hover {
    color: white;
}

.Header .home:hover {
    background-color: blue;
}

.Header .open:hover {
    background-color: red;
}

.Header .inProgress:hover {
    background-color: orange;
}

.Header .done:hover {
    background-color: green;
}