.ToDoCard {
    display: flex;
    align-content: center;
    border: 2px solid black;
    margin: 2px;
    height: 30px;
}

.ToDoCard div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: normal;

    flex: 1;
    margin: 0 0 0 5px;
}

.ToDoCard span {
    display: table-cell;
    vertical-align: middle;
}

.ToDoCard button {
    height: 100%;
    width: 80px;
    border: none;
    border-left: 2px solid black;
    background-color: white;
    font-weight: bold;
    transition: 0.2s;
    outline: none;
    font-size: 13px;
}

.ToDoCard .link {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;

    font-weight: bold;
    text-decoration: none;
    color:black;
    font-size: 13px;

    transition: 0.2s;

    width: 80px;
    border-left: 2px solid black;
    outline: none;
}

.ToDoCard .link:hover {
    background-color: black;
    color: white;
}

.ToDoCard .moveOn:hover {
    background-color: blue;
    color:white;
}

.ToDoCard .delete:hover {
    background-color: red;
    color:white;
}


